<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>Bsharp</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


        
        <link href="css/MainStyle.css" rel="stylesheet">
        <link href="css/NavMail.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body class="kalam-bold"  style="color: <%= color %>; background-color: <%= background %>;">
  <select class="select" id="languageSelect" onchange="updateLanguage()">
  <option value="<%= selectedLanguage %>"><%= selectedLanguage %></option>
  <% if (selectedLanguage === 'en') { %>
    <option value="nl">nl</option>
  <% } else { %>
    <option value="en">en</option>
  <% } %>
</select>

<nav class="nav">
  <%- include('logged-out/NavMenu.ejs') %>   
</nav>


<div class="container7">
<br><br>

  <p class="kalam-bold"  > <%= __('titles.homepage') %> <p>

  
</div>






<br><br>


<div>

<p class="container6" > <%= __('titles.welcome') %><p>


</div>

<br><br>


<div class="container8">
<img class="container8" src="<%= image %>" />

</div>


<br>

<div style="text-align: center;">

<a href="/bezoekers" class="container6" style="text-decoration: none; color: inherit;"><%= __('titles.moreinfo') %></a>

</div>
         

<br><br>


<% const randomVar = Math.floor(Math.random() * 4) + 1; %>

<div class="container9">

<%- include('./logged-out/weetje' + randomVar + '.ejs') %>  
</div>

<br><br>


<script>
function updateLanguage() {
  const selectedLanguage = document.getElementById("languageSelect").value;

  // Send an AJAX request to update the language
  fetch("/language", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ language: selectedLanguage }),
  })
    .then((response) => response.json())
    .then((data) => {
      console.log(data.message); // Log the response message
      // Optionally, you can update the UI to reflect the new language
      window.location.reload(); // Refresh the page
    })
    .catch((error) => {
      console.error(error);
      // Handle any errors that occur during the request
    });
}
</script>
</body>

</html>
